/* --- Global Styles --- */
* {
  font-family: 'SF Pro Text', 'Inter', 'Segoe UI', 'NotoSans Nerd Font', sans-serif;
  font-size: 13px;
  min-height: 0;
  padding-right: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}

/* --- Waybar Container --- */
#waybar {
  background: transparent;
  color: #12110F;
  margin: 0px;
  font-weight: 500;
}

/* --- Left Modules (Individual Blocks) --- */
#workspaces,
#user,
#cpu,
#memory {
  background-color: #12110F;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#workspaces {
  padding: 2px;
  margin-left: 7px;
  margin-right: 5px;
}

#user {
  margin-right: 5px;
}

#cpu {
  margin-right: 5px
}

/* Hover effects */
#custom-uptime:hover,
#cpu:hover,
#memory:hover {
  background-color: rgb(41, 42, 53);
}

/* --- Workspaces --- */
#workspaces button {
  color: #e6e6e6;
  border-radius: 5px;
  padding: 0.3rem 0.6rem;
  background: transparent;
  transition: all 0.2s ease-in-out;
  border: none;
  outline: none;
}

#workspaces button.active {
  color: #ff0012;
  background-color: rgba(255, 60, 60, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 60, 60, 0.2);
}

#workspaces button:hover {
  background: rgb(41, 42, 53);
  color: #49b1f5;
}

/* --- Clock --- */
#clock {
  background-color: #12110F;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(255, 60, 60, 0.2);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  color: #ff0012;
}

#clock:hover {
  background-color: rgba(255, 60, 60, 0.1);
}

/* --- Right Modules --- */
#mpris,
#bluetooth,
#pulseaudio,
#network,
#custom-notification,
#custom-lock {
  background-color: #12110F;
  padding: 0.3rem 0.7rem;
  margin: 5px 0px;
  border-radius: 0;
  border: none;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

#custom-notification:hover,
#bluetooth:hover,
#pulseaudio:hover,
#network:hover,
#custom-lock:hover {
  background-color: rgb(41, 42, 53);
}

/* Rounded ends */
#bluetooth {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
#custom-lock {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
/* Padding and Margin */
#custom-lock {
  margin-right: 7px
}

/* --- Color Assignments --- */
#user { color: #ff0012; }

#mpris,
#cpu,
#pulseaudio,
#network,
#custom-notification,
#custom-lock, 
#memory { color: #e6e6e6; }

#network.disconnected { color: #ff3c3c; }

/* Bluetooth icons */
#bluetooth { color: #e6e6e6; font-size: 16px; }
#bluetooth.on { color: #ff0012; }
#bluetooth.connected { color: #49b1f5; }

/* --- Tooltip --- */
tooltip {
  background-color: #1a1b26;
  color: #f5f5f5;
  padding: 5px 12px;
  margin: 5px 0px;
  border-radius: 6px;
  border: 1px solid rgba(255, 60, 60, 0.3);
  box-shadow: 0 4px 12px rgba(255, 60, 60, 0.1);
  font-size: 12px;
}
